<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script> 
    <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "chat.js" %}'></script>
    <link rel="stylesheet" href='{% static "chatroom.css" %}'>

    <title>Chatroom test</title>
</head>
<body>
    <a href="/dashboard">Return</a>
    <h3>
        <label for="handle">Your name:</label>
        <input id="handle" type="text" value="{{user.first_name}}" readonly>
    </h3>
    <div id="messages">
        <table id="chat">
            <tbody>
            {% for message in messages %}
                <tr>
                <td class ='time'>{{ message.formatted_created_at }}</td>
                <td class="name">{{ message.handle }}:</td>
                <td class="message">{{ message.message }}</td>
                </tr> 
            {% endfor %}
            </tbody>
        </table>
    </div>
    <form id='chatform'>
        <textarea id="message" rows="5" cols="20" placeholder="Message goes here."></textarea>
        <button type="submit" id="go">Reply</button>
    </form>
</body>
</html>