<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script> 
    <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "chat.js" %}'></script>
    <title>Chatroom test</title>
</head>
<body>
    <div id="messages">
        <form id="chatform">
            <table id="chat">
                <tbody>
                {% for message in messages %}
                    <tr>
                    <td>{{ message.formatted_created_on }}</td>
                    <td>{{ message.handle }}</td>
                    <td>{{ message.message }}</td>
                    </tr> 
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                <td>Say something:</td>
                <td colspan=2>
                    <input id="message" type="text" placeholder="message">
                    <button type="submit" id="go">Reply</button>
                </td>
                </tfoot>
            </table>
        </form>
    </div>
</body>
</html>