<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <a href="/settings">Settings</a>
    <a href="/logout">Logout</a>
    <h1>Hello {{user.name}}</h1>

    <div id="">
        <!-- Add list of friends to this div -->
        <form action = "/chat" method="post">
            <div id="friends">
                {% for friend in user.friends %}
                    <div class="friend_box">
                        <button name="friend" type="submit" value={{friend.id}}><img src=><h3>{{friend.name}}</h3></button>
                        
                    </div>
                {% endfor %}
            </div> 
        </form>
        
    </div>
</body>
</html>