asgi-redis==1.4.3
asgiref==1.1.2
async-timeout==2.0.0
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.4
certifi==2022.12.7
cffi==1.11.4
channels==1.1.8
chardet==3.0.4
colorama==0.3.9
constantly==15.1.0
daphne==1.4.2
decorator==4.2.1
Django==1.11.10
enum34==1.1.6
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipython==5.5.0
ipython-genutils==0.2.0
msgpack-python==0.5.5
oauthlib==2.0.6
pathlib==1.0.1
pathlib2==2.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
pycparser==2.18
Pygments==2.2.0
pypiwin32==223
pytz==2018.3
pywin32==223
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
Twisted==17.9.0
txaio==2.8.2
typing==3.6.4
urllib3==1.22
wcwidth==0.1.7
win-unicode-console==0.5
zope.interface==4.4.3
