<!-- AIzaSyDJOCS2R_KbfrsAyN_8SeJsZek5uJB6CKQ -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Find Your Match!</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'filename=css/login.css' %}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    
    <style>
        .card {
            background-color: #e5e1ee;
        }
    </style>
</head>
<body>
    <div class='container'>
        <div class='row'>
            <div class='col s6'>
                <form action='{% url "my_submit" %}' method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class='col s12'>Register</h3>
                    <input type='hidden' name='formtype' value='register' />
                    <div class='col s6'>
                        <input type='text' name='first_name' placeholder='First Name'>
                    </div>
                    <div class='col s6'>
                        <input type='text' name='last_name' placeholder='Last Name'>
                    </div>
                    <select name='gender' class="browser-default col s6">
                        <option value="gender_option" disabled selected>Choose Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <select name='orientation' class="browser-default col s6">
                        <option value="" disabled selected>Choose Orientation</option>
                        <option value="straight">Straight</option>
                        <option value="gay">Gay</option>
                        <option value="bisexual">Bisexual</option>
                        <option value="other">Other</option>
                    </select>
                    <div name='birthdate' class='col s12'>
                        <input type='date' name='birthdate' placeholder='Birthdate'>
                    </div>
                    <div class='col s12'>
                        <input type='text' name='email_address' placeholder='Email Address'>
                    </div>
                    <div class='col s6'>
                        <input type='password' name='password' placeholder='Password'>
                    </div>
                    <div class='col s6'>
                        <input type='password' name='passwordcheck' placeholder='Confirm Password'>
                    </div>
                    <input type="file" name="profile_pic" accept=".png, .jpg, .jpeg">
                    <!-- Start of autocomplete -->
                    <div id="locationField">
                        <input id="autocomplete" placeholder="Enter your City!"
                        onFocus="geolocate()" type="text"></input>
                    </div>
                    <table id="address">
                        <tr>
                            <td class="label">Street address</td>
                            <td class="slimField"><input class="field" id="street_number"
                                  disabled="true"></input></td>
                            <td class="wideField" colspan="2"><input class="field" id="route"
                                  disabled="true"></input></td>
                        </tr>
                        <tr>

                            <td class="label">City</td>
                            <!-- Note: Selection of address components in this example is typical.
                                 You may need to adjust it for the locations relevant to your app. See
                                 https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
                            -->
                            <td class="wideField" colspan="3"><input class="field" id="locality" name="city" 
                              ></input></td>
                        </tr>
                        <tr>
                            <td class="label">State</td>
                            <td class="slimField"><input class="field"
                                  id="administrative_area_level_1" name="state"></input></td>
                            <td class="label">Zip code</td>
                            <td class="wideField"><input class="field" id="postal_code"
                                  disabled="true"></input></td>
                        </tr>
                        <tr>
                            <td class="label">Country</td>
                            <td class="wideField" colspan="3"><input class="field"
                                  id="country" disabled="true"></input></td>
                        </tr>
                    </table>
                    <input class='col s12 waves-effect waves-light btn' type='submit' value='Register'>
                </form>
                <div class='col s12'>
                    <br>
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'register' in message.tags %}
                                {{ message }}<br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class='col s6'>
                <form action='{% url "my_submit" %}' method='post'>
                    {% csrf_token %}
                    <h3>Login</h3>
                    <input type='hidden' name='formtype' value='login' />
                    <div class='col s6'>
                        <input type='text' name='email_address' placeholder='Email Address'>
                    </div>
                    <div class='col s6'>
                        <input type='password' name='password' placeholder='Password'>
                    </div>
                    <input class='col s12 waves-effect waves-light btn' type='submit' value='Login'>
                </form>
                    <div class='col s12'>
                        <br>
                        {% if messages %}
                            {% for message in messages %}
                                {% if 'login' in message.tags %}
                                    {{ message }}<br>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
    <script>
        var placeSearch, autocomplete;
          var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
          };

          function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                {types: ['geocode']});

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
          }

          function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
              document.getElementById(component).value = '';
              document.getElementById(component).disabled = false;
            }

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
              var addressType = place.address_components[i].types[0];
              if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
              }
            }
          }

          // Bias the autocomplete object to the user's geographical location,
          // as supplied by the browser's 'navigator.geolocation' object.
          function geolocate() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                  center: geolocation,
                  radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
              });
            }
          }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJOCS2R_KbfrsAyN_8SeJsZek5uJB6CKQ&libraries=places&callback=initAutocomplete"
        async defer></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>