<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Your Match!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Hello, {{request.session.first_name}}!</h1>
    
    <div>
        <h2>Your life path number is 5!</h2>
        <p>Today's fact for your number:</p>
        <p>place holder fact information</p>
    </div>

    <div>
        <h2>Recent comments about you:</h2>
        <p>placeholder for recent comments to profile</p>
    </div>

    <div>
        <h2>Who you match best with</h2>
        <p>placeholder for numbers you match best with</p>
    </div>
</body>
</html>