*{
    margin: 0px;
    border: 0px;
}

.time {
    font-size: 8pt;
    width: 80px;
}

.name {
    font-weight: bold;
    width: 100px;
}

#messages {
    width: 90%;
    height: 400px;
    overflow: scroll;
    word-break: break-all;
}

#chat {
    width: 99%;
}

tr {
    border-top: 1px solid black;
    outline: thin solid;
}
td {
    border-left: 1px solid black;
}

.message {
    width: 80%;
}